.section-title-blocks-and-link {
  @include section();

  margin: 3rem auto 0 auto;
  width: 85vw;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;

  .heading {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .content {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .blocks {
    margin-top: 5rem;
    text-align: center;

    > div {
      width: 100%;
      margin-bottom: 2rem;
      text-align: center;
      position: relative;

      #border-2 {
        border-top: 1px solid #ccc;
        position: absolute;
        width: 40%;
        left: 30%;
        top: -15px;
      }

      div {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
      }
    }

    .title {
      margin-bottom: 2rem;
      font-size: 1.2rem;
      line-height: 20px;
      font-family: Montserrat, "Helvetica Neue", sans-serif;
      font-weight: bold;
    }

    .content {
      font-size: 0.8rem;
      line-height: 21px;
    }
  }

  .link {
    padding: 3rem 0 0 0;
    text-align: center;

    a {
      color: #000;
      text-transform: uppercase;
    }
  }

  @include media-breakpoint-up(sm) {
    margin-top: 3rem;
    width: 80vw;
    padding-top: 7.5rem;

    .blocks {
      margin-top: 7.3rem;
      text-align: center;

      > div {
        width: 40vw;
        text-align: center;

        div {
          width: 70%;
          margin-right: auto;
          margin-left: auto;
        }
      }

      .title {
        margin-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 29px;
        font-family: Montserrat, "Helvetica Neue", sans-serif;
        font-weight: bold;
      }

      .content {
        font-size: 1.1rem;
        line-height: 21px;
      }
    }

    .link {
      padding: 6rem 0 0 0;
      text-align: center;
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: 3rem;
    width: 80vw;
    padding-top: 7.5rem;

    .blocks {
      margin-top: 5rem;
      text-align: center;

      > div {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
        position: relative;

        #border-2 {
          border-top: none;
          border-left: 1px solid #ccc;
          position: absolute;
          left: 0;
          bottom: 50%;
        }

        div {
          width: 70%;
          margin-right: auto;
          margin-left: auto;
        }
      }

      .title {
        margin-bottom: 2rem;
        font-size: 1.2rem;
        line-height: 20px;
        font-family: Montserrat, "Helvetica Neue", sans-serif;
        font-weight: bold;
      }

      .content {
        font-size: 0.8rem;
        line-height: 21px;
      }
    }

    .link {
      padding: 3rem 0 0 0;
      text-align: center;

      a {
        color: #000;
        text-transform: uppercase;
      }
    }
  }

  @include media-desktop() {
    margin-top: 3rem;
    width: 80vw;
    padding-top: 7.5rem;

    .blocks {
      margin-top: 5rem;
      text-align: center;

      > div {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
        position: relative;

        #border-2 {
          border-top: none;
          border-left: 1px solid #ccc;
          position: absolute;
          left: 0;
          bottom: 50%;
        }

        div {
          width: 70%;
          margin-right: auto;
          margin-left: auto;
        }
      }

      .title {
        margin-bottom: 2rem;
        font-size: 1.2rem;
        line-height: 20px;
        font-family: Montserrat, "Helvetica Neue", sans-serif;
        font-weight: bold;
      }

      .content {
        font-size: 0.8rem;
        line-height: 21px;
      }
    }

    .link {
      padding: 3rem 0 0 0;
      text-align: center;

      a {
        color: #000;
        text-transform: uppercase;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    margin-top: 3rem;
    width: 80vw;
    padding-top: 7.5rem;

    .blocks {
      margin-top: 5rem;
      text-align: center;

      > div {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
        position: relative;

        #border-2 {
          border-top: none;
          border-left: 1px solid #ccc;
          position: absolute;
          left: 0;
          bottom: 50%;
        }

        div {
          width: 70%;
          margin-right: auto;
          margin-left: auto;
        }
      }

      .title {
        margin-bottom: 2rem;
        font-size: 1.2rem;
        line-height: 20px;
        font-family: Montserrat, "Helvetica Neue", sans-serif;
        font-weight: bold;
      }

      .content {
        font-size: 0.8rem;
        line-height: 21px;
      }
    }

    .link {
      padding: 3rem 0 0 0;
      text-align: center;

      a {
        color: #000;
        text-transform: uppercase;
      }
    }
  }
}
