.u-gradient-color {
  --cta-btn-color1: #fff;
  --cta-btn-color2: #fff;

  background-image: linear-gradient(to right, var(--cta-btn-color1, #fff), var(--cta-btn-color2, #fff));
}

/* Special rules (hover), for when the u-gradient-color is an anchor <a> */
a.u-gradient-color {
  z-index: 1;
  position: relative;

  &::before {
    content: '';
    background-image:
      linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(127, 127, 127, 0.5)),
      linear-gradient(to left, var(--cta-btn-color1, #fff), var(--cta-btn-color2, #fff));
    border-radius: inherit;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.2s ease-in-out opacity;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
